$border-color: rgba(223, 223, 223, 0.226);

.wrapper{
    background-image: url('../../img/backgr.jpg');

   
}


.chat__container{
    min-height: 70px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: relative;
    padding: 5px 25px;

    &-back{
        margin-top: 10px;
        text-decoration: none;
        padding: 5px 9px;
        color: white;
        height: min-content;
        font-size: 2rem;
        transition: all .4s;
        transform: scale(1);
        will-change: transform,color;

       &:hover{
            transform: scale(0.8);
            color: rgb(243, 115, 115);
       }
    }

   
}