


.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.chat{
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    border-radius: 5px 50px 5px 50px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    

   

    &__data{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        flex-wrap: wrap;
        &-info{
        letter-spacing: .3px;
        font-size: 0.9rem;
        color:  rgb(124, 124, 124);
        padding: 5px;

      

        &:nth-of-type(1){
            //margin-right: 20px;
    }
    

    }

    &-important{
        color: white;
        font-size: 0.8rem;
    }

    

    }

    


}

