$border-color: rgba(223, 223, 223, 0.226);



@mixin border_space {
    content: "";
    position: absolute;
    left: 50%;
    width: 92%;
    height: 1px;
    background-color: $border-color;
    transform: translateX(-50%);
}

.message{
    min-height: 400px;
    padding: 20px 13px;
 

    &__element{
        margin: 15px 0;
        display: flex;
        align-items: center;

        &-img{
            display: block;
            width:40px;
            height: 40px;
            border-radius: 50px;
            background-color: white;
            margin-right: 10px;

            &--admin{
                width: 35px;
                height: 35px;
                background-color: transparent;
               
            }
        }
       
        

        &--admin{
            justify-content: flex-start;
           
           
               
            
        }

        &--user{
            justify-content: flex-end;

            &::after{
                
                margin-right: 0;
                margin-left: 10px;
            }
        }

        
    }

    &__text{
        width: 250px;
        padding: 7px 16px;
        background-color: rgb(105, 105, 105);
        border-radius: 10px 10px 10px 0px;
        letter-spacing: .4px;
        font-size: 0.8rem;
        border:1px solid black;
        word-break: break-all;
        position: relative;

       
        

        &--user{
            border-radius: 10px 10px 0px 10px;
            background-color: #101010;
            color: white;
            border:none;
        }

        &-user_name{
            position: absolute;
            bottom: 0;
            right: 5%;
            color: #929292;
            transform: translateY(19px);
        }

       
    }

    &::before{
       @include border_space();
       top: 0;
    }

    &::after{
        @include border_space();
        bottom: 0;
    }
}